<p>
    <strong>Title:</strong>
    <%= @book.title %>
</p>

<p>
    <strong>body:</strong>
    <%= @book.body %>
</p>

<a class "edit_:id"  href = "/books/:id/edit">Edit</a>
 | 
<a class="back" href="/books">Back</a>